:root {
  --c-primary: #f2e8e1;
  --c-cream: #f9f8f7;
  --c-gold: #f1c98d;
  --c-purple: #cf79e7;
  --c-brown: #6a502a;
  --c-black: #000;
  --navbar-height: 85px;
  --gap: 20px;
  --radius: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*::before,
*::after {
  content: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: inherit;
}
